@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  /* Primary */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);
  --light-pink: hsl(332, 51%, 95%);
  
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);

  /* Font family */
  --ff-young-serif: "Young Serif", serif;
  --ff-outfit: "Outfit", sans-serif;

  /* Font size */
  --fz-title: 2rem;
  --fz-subtitles: 1.7rem;
  
  /* Spacing */
  --card-x-spacing: 1.8rem;
  --card-y-spacing: 1.8rem;
  --gap-y-sections: .7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-outfit);
}

p, li {
  color: var(--wenge-brown);
  line-height: 1.5rem;
}

h2,
h3 {
  font-family: var(--ff-young-serif);
  font-weight: 500;
}

h2 {
  line-height: 2.2rem;
}

h3 {
  color: var(--nutmeg);
  font-size: var(--fz-subtitles);
}

ul, ol {
  margin-left: 1rem;
}

img {
  width: 100%;
}

hr {
  border: none;
  height: 1px;
  width: 100%;
  background-color: lightgray;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  background-color: var(--white);
  max-width: 600px;
  margin-inline: auto;
}

.recipe-card__container {
  gap: 2rem;
  
  padding: var(--card-y-spacing) var(--card-x-spacing);
}

.recipe-card__description {
  gap: var(--gap-y-sections);

  & h2 {
    font-size: var(--fz-title);
  }
}

.recipe-card__preparation {
  gap: var(--gap-y-sections);
  
  background-color: var(--light-pink);
  border-radius: .6rem;
  padding: var(--card-y-spacing) var(--card-x-spacing);

  & h4 {
    color: var(--dark-raspberry);
    font-size: 1.2rem;
    font-weight: 600;
  }

  & ul {
    gap: .5rem;
 
    & span {
      font-weight: bold;
    }
  }
}

.recipe-card__ingredients {
  gap: var(--gap-y-sections);

  & ul {
    gap: .5rem;
  }
}

.recipe-card__intructions {
  gap: var(--gap-y-sections);

  & ol {
    gap: 1rem;

    & span {
      font-weight: bold;
    }
  }
}

.recipe-card__nutrition {
  gap: var(--gap-y-sections);
 
  & tbody {
    gap: 1rem;

    padding: var(--card-y-spacing) 0; 
    color: var(--wenge-brown);
  
    & tr {
      display: flex;
      align-items: center;

      border-bottom: 1px solid lightgray;
      padding-bottom: .6rem;
  
      & td {
        flex: 1;
      }

      & td:nth-child(1) {
        padding-left: 1.5rem;
      }
      
      & td:nth-child(2) {
        color: var(--nutmeg);
        font-weight: bold;
      }
    }

    & tr:last-child {
      border: none;
    }
  }
}


@media (width >= 600px) {
  body {
    margin: 3rem 0;

    background-color: var(--eggshell);
  }
  
  .wrapper {
    border-radius: 1rem;
  }

  .recipe-card__header {
    padding: var(--card-y-spacing) var(--card-x-spacing) 0 var(--card-x-spacing);
    
    & img {
      border-radius: .6rem;
    }
  }
}